<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<meta name="description" content="GuestBook Application, Guest, GuestBook">
	<meta name="author" content="Aniket Aryamane, Aniket, Aryamane">

	{% load static %}

	{% block titleblock %}
		<title>Base Page</title>
	{% endblock %}

	<!-- Bootstrap core CSS -->
	<link href="{% static 'guestbook/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'guestbook/css/theme.css' %}" rel="stylesheet">

	{% block addcommentscss %}
		<!-- Include Custom styles for "addcomments.html" only -->
	{% endblock %}
</head>

<body>
	{% block contentblock %}
	{% endblock %}
</body>

</html>