{% extends 'guestbook/base.html' %}

{% block titleblock %}
	<title>GuestBook Page</title>
{% endblock %}

{% block contentblock %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Guest Book</h1>
			<a type="button" class="btn btn-link" href="{% url 'guestbook:addcommentsurl' %}">Add Comments to the Guest Book</a>
		</div>
		<div class="page-header">
			<h1>Name</h1>
		</div>
		<div class="card">
			<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dicta itaque voluptatibus exercitationem porro sequi soluta odio, distinctio pariatur. Laboriosam in accusamus sit, omnis nihil architecto quasi, officiis excepturi voluptas.</span><span>Mollitia iste suscipit optio eos ipsam repellendus quasi, voluptate minus porro ab perspiciatis ipsum doloremque laborum tempore nesciunt minima facere delectus! Reprehenderit, eum fugiat placeat vero cupiditate exercitationem labore animi.</span></p>
		</div>
	</div>
	<!-- /container -->
{% endblock %}